extends layout

block content
  h1= title
  p 地域図書館のデータベースへようこそ!!!!,<br>ここは Mozilla Developer Network のチュートリアル例として開発された、基本的な Express ウェブサイトです.

  h1 コンテンツ

  p 図書館の所蔵情報:

  ul
    li #[strong 書籍:] !{book_count}
    li #[strong コピー:] !{book_instance_count}
    li #[strong 使用可能なコピー:] !{book_instance_available_count}
    li #[strong 著者:] !{author_count}
    li #[strong ジャンル:] !{genre_count}
